   <h1 class="title">Inscription</h1>
   
    <ul class="menu">
        <li class="active"><a href="#candidat">Inscription Candidat</a></li>
        <li><a href="#entreprise">Inscription Entreprise</a></li>
    </ul>
    
    <div class="plusieurs-contenus">
        <div class="contenu active" id="candidat">
            <form action="/inscriptions" method="post">
              <h1 class="title">Inscription Candidat</h1>

  <label class="label" for="input-name">Votre Nom</label>
  <input id="input-name" class="input" type="text" placeholder="Votre nom"
    name="nom" value="test-user" />

  <label class="label" for="input-lastname">Votre Prénom</label>
  <input id="input-lastname" class="input" type="text" placeholder="Votre Prénom"
    name="prenom" value="test-user" />

  <label class="label" for="input-email">Votre email</label>
  <input id="input-email" class="input" type="email" placeholder="Votre email" name="email"
    value="test@mail.com">

  <label class="label" for="input-password">Votre mot de passe</label>
  <input id="input-password" class="input" type="password" placeholder="assez complexe par mesure de sécurité"
    name="motDePasse" value="fake-pass-12345">

  <button class="btn">ok !</button>
            </form>
        </div>

        <div class="contenu" id="entreprise">
            <form action="/inscriptions" method="post">
                          <h1 class="title">Inscription Entreprise</h1>

  <label class="label" for="input-name">Votre Nom</label>
  <input id="input-name" class="input" type="text" placeholder="Votre nom"
    name="nom" value="test-user" />

  <label class="label" for="input-lastname">Votre Prénom</label>
  <input id="input-lastname" class="input" type="text" placeholder="Votre Prénom"
    name="prenom" value="test-user" />

  <label class="label" for="input-email">Votre email</label>
  <input id="input-email" class="input" type="email" placeholder="Votre email" name="email"
    value="test@mail.com">

  <label class="label" for="input-password">Votre mot de passe</label>
  <input id="input-password" class="input" type="password" placeholder="assez complexe par mesure de sécurité"
    name="motDePasse" value="fake-pass-12345">

  <button class="btn">ok !</button>
            </form>
        </div>
        
        
    </div>